.header {
  background: url('../images/2024-12-26_16.46.52.png') no-repeat center center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 80px;
  position: relative;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(6px); /* 背景虚化 */
  z-index: 1;
}
.header .container {
  position: relative;
  z-index: 2;
}
.header h1 {
  font-size: 3rem;
}
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

@keyframes slideUp {
  from {
      transform: translateY(20px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

.card {
  animation: slideUp 0.7s forwards;
  break-inside: avoid; /* 防止卡片被分割 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 阴影效果 */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* 平滑缩放和阴影过渡 */
}

.card-columns {
  column-count: auto;
}
.auto-size {
  width: auto;
}

.about-us {
  margin-top: 50px;
}


.player-names {
    font-size: 1em; /* 设置玩家名字的字体大小 */
}